<!DOCTYPE html>

<html>
    <head>

    </head>

    <body>
        <div>
            {{>header}}
        </div>

            <!--rendering partials -->
            
            <h1>{{message}}</h1>
        <div>{{>footer}}  </div>
         
    </body>
</html>