<!DOCTYPE html>

<html>
    <head>
      <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
          {{>header}}  <!--rendering partials -->
        <p>{{title}}</p>
         {{>footer}}  
    </body>
</html>